
/* --- Google Fonts --- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url("components/card.css");
@import url("components/avatar.css");

/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background-color: rgb(220,220,220);
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.text-center {
  text-align: center;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}
.list-inline li {
  display: inline-block;
  margin: 0 10px;
  color: grey;
}
.top-text {
  margin: 25px 0;
  color: rgb(50,50,60);
}
.list-inline > li > i {
  margin: 0 10px;
  color: grey;
}
